@import "../../SASS/mixins";
.container {
  max-width: 1440px;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;

  .main {
    font-size: 24px;
    margin: 0;
    margin-top: 15px;
  }
}
.paymentDetails {
  max-width: 768px;
  height: 100%;
  margin: 15px auto;
  border: 1px solid rgb(192, 188, 188);

  .payment {
    margin: 0;
    padding: 10px 0;
    font-size: 22px;
    width: 100%;
    border-bottom: 1px solid rgb(179, 177, 177);
  }

  .method {
    font-size: 18px;
  }
}
.formContainer {
  width: 90%;
  height: 100%;
  padding: 15px 0;
  justify-self: flex-start;
  margin: 0 auto;

  @include Desktop() {
    width: 786px;
  }

  .formGroup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;

    label {
      width: 100%;
      text-align: left;
      margin-right: 0;
      font-size: 18px;
      padding: 10px 0;
    }
    input {
      width: 100%;
      height: 35px;
      font-size: 18px;
      border-radius: 5px;
      margin-bottom: 10px;
    }
  }

  .btn {
    width: 160px;
    height: auto;
    font-size: 18px;
    border-radius: 5px;
    color: #ffffff;
    background-color: #9246f6;
    background-color: #d0a4fc;

    padding: 15px 10px;
  }
  .btn:hover {
    background-color: rgb(128, 38, 245);
    box-shadow: 0 0 8px rgb(204, 203, 203);
  }
}
