@import "../../SASS/mixins";
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 5px;

  @include Desktop() {
    max-width: 1440px;
    margin: 0 auto;
  }

  .mainHead {
    font-size: 22px;
    line-height: 24 * 1.4px;
    padding: 0;
    margin: 10px 0;
    text-align: center;

    @include Desktop() {
      font-size: 32px;
      text-align: left;
    }
  }
}

.topContainer {
  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;

  @include Desktop() {
    flex-direction: row;
  }

  .btnContainer {
    width: 100%;
    display: flex;
    justify-content: center;

    @include Desktop() {
      justify-content: flex-end;
    }
  }
}
.btn {
  width: auto;
  height: fit-content;
  padding: 10px 10px;
  font-size: 16px;
  border-radius: 0px;
  background-color: rgb(150, 41, 251);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 8px rgb(134, 134, 134);

  @include Desktop() {
    flex-direction: row;
  }
}

.tableContainer {
  overflow: auto;
}

table,
tr {
  border-collapse: collapse;
  border: 1px solid gray;
}

td {
  padding: 15px 5px;

  @include Desktop() {
    padding: 15px 50px;
  }
}

.table {
  margin: 0 auto;
  font-size: 14px;
  width: 100%;

  @include Desktop() {
    font-size: 18px;
  }
}

.tableHead {
  background-color: rgb(220, 191, 243);
}
